.c-showcase {
  background-image: linear-gradient(
      to right,
      rgba($primary-overlay, 0.8),
      rgba($primary-overlay, 0.8)
    ),
    url(../assets/img/mountains.jpg);

  background-size: cover;
  background-position: center top;

  @include respond(phone) {
    text-align: center;
  }
}

.c-newsletter-input-mb {
  @include respond(md) {
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.c-info-header {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px #ddd solid;
}

.c-author {
  transition: all 0.2s;

  &:hover {
    background-color: $primary-overlay;
    color: white;

    .fab {
      color: white;
    }
  }

  &__img {
    margin-top: -50px;
  }
}
